/* globals.css */

/* Styles the entire app */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://i.imgur.com/IerOCAQ.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* Add gold lighting around text */
.glow-text {
    text-shadow:
      0 0 3px rgba(248, 228, 94, 0.8),
      0 0 6px rgba(248, 228, 94, 0.6),
      0 0 8px rgba(248, 228, 94, 0.4);
}    

/* Font Colors */
.fc-grey {
    color: rgb(151, 151, 151);
}

/* Font Sizes */
.fs-0 {
    font-size: 14px;
}

.fs--1 {
    font-size: 12px;
}
.fs-7 {
    font-size: 48px;
}
  
.fs-8 {
    font-size: 56px;
}
  